<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @task.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @task.body %>
</p>

<p>
  <strong>User:</strong>
  <%= User.find(@task.user_id).email %>
</p>

<p>
  <strong>Admin:</strong>
  <%= @task.admin_id.nil? ? 'No Supported Admin' : Admin.find(@task.admin_id).email %>
</p>

<p>
  <strong>Status:</strong>
  <%= @task.status %>
  <%= link_to 'Change status', admin_task_path(@task), method: :patch %>
</p>

<%= link_to 'Back', admin_tasks_path %>

<%= render file: 'admin/comments/index.html.erb' %>
<%= render file: 'admin/comments/new.html.erb' %>
