<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Registration date</th>
      <th>Users tasks</th>
      <th>Comments</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.created_at %></td>
        <td><%= user.tasks.count %></td>
        <td><%= user.comments.count %></td>
        <td><%= link_to 'Show', "users/#{user.id}" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Create New User', new_admin_user_path %>
